<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/options.css">

    <script src="../assets/js/jquery.js"></script>
    <script src="../init.js"></script>
    <script src="../app.js"></script>
    <script src="../assets/js/options.js"></script>
</head>
<body>
<fieldset>
    <legend>
        <b>Réglage des notifications</b>
    </legend>

    <label class="form-switch">
        <input type="checkbox" id="streamsNotify">
        <i></i>
        <em>Annonce des streams</em>
    </label>
    <br>
    <label class="form-switch">
        <input type="checkbox" id="playSound">
        <i></i>
        <em>Jouer un son</em>
    </label>
    <br>
    <label class="form-switch">
        <input type="checkbox" id="devMode">
        <i></i>
        <em>Mode développeur</em>
    </label>

    <br>

    <div>
        <button type="button" id="testSound">Test de son</button>
    </div>

    <div>
        <button id="testNotify">Test de Notification</button>
    </div>
</fieldset>

</body>

</html>
