<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="options.css">

    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/init.js"></script>
    <script src="/app.js"></script>
    <script src="options.js"></script>
</head>
<body>

<h1>Réglage des notifications</h1>

<div class="row">
    <label class="form-switch">
        <p>Annonce des streams</p>
        <input type="checkbox" id="streamsNotify">
        <span class="checkmark"></span>
    </label>
</div>
<hr>
<div class="row">
    <label class="form-switch">
        <p>Jouer un son</p>
        <input type="checkbox" id="playSound">
        <span class="checkmark"></span>
    </label>
</div>
<hr>
<div class="row">
    <label class="form-switch">
        <p>Mode développeur</p>
        <input type="checkbox" id="devMode">
        <span class="checkmark"></span>
    </label>
</div>

<div id="displayDevMode">
    <hr>
    <div class="row footer">
        <button type="button" class="btn btn-danger" id="testSound">Test de son</button>
        <button type="button" class="btn btn-danger" id="testNotify">Test de Notification</button>
    </div>

    <div class="row">
        <p class="left" >Développer par <a id="devName" href="https://github.com/devleesch001/">devleesch</a></p>
        <a href="https://github.com/devleesch001/Squntt-Live-Notif/"><p class="right" id="version"></p></a>
    </div>

</div>

</body>

</html>
