<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <script src="../../assets/js/jquery-3.4.1.min.js"></script>
    <script src="../../init.js"></script>
    <script src="../../app.js"></script>
    <script src="popup.js"></script>

    <link rel="stylesheet" href="popup.css">
    <script src="https://kit.fontawesome.com/3b799cee9e.js" crossorigin="anonymous"></script>
    <title>Squntt_ Live</title>

</head>

<body>

<div class="row header" style="text-align: center; position: static;">
    <span class="streamer">Squntt_<!-- js replace name of streamer --></span>
</div>

<span class="settings">
    <i id="scir" class="fa fa-circle fa-stack-2x"></i>
    <i id="scog" class="fa fa-cog fa-stack-1x"></i>

</span>
<hr>

<div class="row is-online">
    <div class="content-title">
        <i class="far fa-circle fa-2x" id="liveDot" style="color: #cccccc"></i>
        <span class="title">Hors-Ligne</span>
    </div>
    <div class="content-Stats">
        <div style="width: 20%; height: 35px; float: left">
            <span class="viewers"><i class="far fa-eye"></i> <span class="viewers-count">-</span></span>
        </div>

        <div style="width: 80%; height: 35px; float: left">
            <span class="game"><i class="fas fa-gamepad"></i> <span class="game-name">-</span></span>
        </div>
    </div>
</div>

<hr>

<div class="row footer">
    <div class="btn-twitter">
        <a class="btn" target="_blank" href="https://twitter.com/quentinsqr"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="btn-twitch">
        <a class="btn" target="_blank" href="https://www.twitch.tv/squntt_"><i class="fab fa-twitch"></i></a>
    </div>
    <div class="btn-youtube">
        <a class="btn" target="_blank" href="https://www.youtube.com/user/jidafe"><i class="fab fa-youtube"></i></a>
    </div>
</div>

</body>
</html>